# üåç Air Quality Analysis & Prediction

This project focuses on **analyzing global air quality (AQI)** and building a model to **predict AQI** based on major air pollutants such as CO, NO‚ÇÇ, SO‚ÇÇ, O‚ÇÉ, PM2.5, and PM10.

## üéØ Objectives
1. Clean and preprocess the dataset.
2. Perform exploratory data analysis (EDA) to discover patterns and correlations.
3. Build a machine learning model to predict AQI.
4. Evaluate the model using metrics such as MAE, RMSE, and R¬≤.

## üì¶ Import Libraries

In this section, we import all necessary libraries for:
- Data manipulation (`pandas`, `numpy`)
- Visualization (`matplotlib`, `seaborn`)
- Database connection (`psycopg2`, `sqlalchemy`)
- File handling (`openpyxl`, `requests`)
- (Optional) Machine learning for prediction tasks (`scikit-learn`)

In [ ]:
%pip install requests 
%pip install pandas
%pip install numpy
%pip install seaborn
%pip install matplotlib
%pip install psycopg2 
%pip install sqlalchemy
%pip install openpyxl
%pip install -U scikit-learn

In [2]:
# Import all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

## üìÇ Load Dataset

Steps:
- Read the dataset from CSV.
- Inspect its shape (rows, columns).
- Display basic information (`.info()`, `.describe()`).
- Preview the first few records.

In [7]:
import pandas as pd

df = pd.read_csv("../data/global_air_pollution_data.csv")  #use pandas to read file csv and change to "df"
print(df)                                          #print data "df"

                   country_name         city_name  aqi_value aqi_category  \
0            Russian Federation        Praskoveya         51     Moderate
1                        Brazil  Presidente Dutra         41         Good
2                         Italy   Priolo Gargallo         66     Moderate
3                        Poland         Przasnysz         34         Good
4                        France          Punaauia         22         Good
...                         ...               ...        ...          ...
23458                     India      Gursahaiganj        184    Unhealthy
23459                    France            Sceaux         50         Good
23460                     India          Mormugao         50         Good
23461  United States of America       Westerville         71     Moderate
23462                  Malaysia            Marang         70     Moderate

       co_aqi_value\t co_aqi_category  ozone_aqi_value ozone_aqi_category  \
0                   1            Good               36               Good
1                   1            Good                5               Good
2                   1            Good               39               Good
3                   1            Good               34               Good
4                   0            Good               22               Good
...               ...             ...              ...                ...
23458               3            Good              154          Unhealthy
23459               1            Good               20               Good
23460               1            Good               22               Good
23461               1            Good               44               Good
23462               1            Good               38               Good

       no2_aqi_value no2_aqi_category  pm2.5_aqi_value pm2.5_aqi_category
0                  0             Good               51           Moderate
1                  1             Good               41               Good
2                  2             Good               66           Moderate
3                  0             Good               20               Good
4                  0             Good                6               Good
...              ...              ...              ...                ...
23458              2             Good              184          Unhealthy
23459              5             Good               50               Good
23460              1             Good               50               Good
23461              2             Good               71           Moderate
23462              0             Good               70           Moderate

[23463 rows x 12 columns]

In [8]:
print(df.shape)     #count total (column,row)

(23463, 12)

In [9]:
print(df.columns)   #print all comlums in "df"

Index(['country_name', 'city_name', 'aqi_value', 'aqi_category',
       'co_aqi_value\t', 'co_aqi_category', 'ozone_aqi_value',
       'ozone_aqi_category', 'no2_aqi_value', 'no2_aqi_category',
       'pm2.5_aqi_value', 'pm2.5_aqi_category'],
      dtype='object')

In [10]:
df.head(5)  #print first 5 rows

,country_name,city_name,aqi_value,aqi_category,co_aqi_value\t,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [11]:
df.tail(5) #print last 5 rows

,country_name,city_name,aqi_value,aqi_category,co_aqi_value\t,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category
23458,India,Gursahaiganj,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy
23459,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good
23460,India,Mormugao,50,Good,1,Good,22,Good,1,Good,50,Good
23461,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate
23462,Malaysia,Marang,70,Moderate,1,Good,38,Good,0,Good,70,Moderate

In [12]:
df.info()   #count non-null each columns and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_name        23036 non-null  object
 1   city_name           23462 non-null  object
 2   aqi_value           23463 non-null  int64
 3   aqi_category        23463 non-null  object
 4   co_aqi_value	       23463 non-null  int64
 5   co_aqi_category     23463 non-null  object
 6   ozone_aqi_value     23463 non-null  int64
 7   ozone_aqi_category  23463 non-null  object
 8   no2_aqi_value       23463 non-null  int64
 9   no2_aqi_category    23463 non-null  object
 10  pm2.5_aqi_value     23463 non-null  int64
 11  pm2.5_aqi_category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [13]:
df.describe()

,aqi_value,co_aqi_value\t,ozone_aqi_value,no2_aqi_value,pm2.5_aqi_value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

## üõ†Ô∏è Data Processing (Cleaning)

In this step, we performed basic but essential data cleaning tasks to ensure the dataset is ready for analysis:

1. **Rename columns**  
   - Example: `"co_aqi_value\t"` ‚Üí `"co_aqi_value"`  
   - Convert all column names to lowercase.  
   - Apply `.strip()` to remove leading/trailing whitespaces.  

2. **Handle missing values**  
   - Checked for null values.  
   - Dropped rows containing nulls.  

3. **Filter invalid values**  
   - Ensured all pollutant columns have values **greater than 0** (to avoid meaningless or corrupted data).  

4. **Duplicate Check**
   - To ensure data integrity, a check was performed to verify if any **city** appeared in multiple records.

‚úÖ After these steps, the dataset is clean, standardized, and ready for SQL import, analysis, and visualization.

In [14]:
df = df.rename(columns={'co_aqi_value\t' : 'co_aqi_value'})      #rename column
df[['co_aqi_value']]

       co_aqi_value
0                 1
1                 1
2                 1
3                 1
4                 0
...             ...
23458             3
23459             1
23460             1
23461             1
23462             1

[23463 rows x 1 columns]

In [15]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")  #remove leading and trailing, change lower and replace whitepace -> "_"
df.columns

Index(['country_name', 'city_name', 'aqi_value', 'aqi_category',
       'co_aqi_value', 'co_aqi_category', 'ozone_aqi_value',
       'ozone_aqi_category', 'no2_aqi_value', 'no2_aqi_category',
       'pm2.5_aqi_value', 'pm2.5_aqi_category'],
      dtype='object')

In [16]:
print(df.isna().sum())  #count null value each columns

country_name          427
city_name               1
aqi_value               0
aqi_category            0
co_aqi_value            0
co_aqi_category         0
ozone_aqi_value         0
ozone_aqi_category      0
no2_aqi_value           0
no2_aqi_category        0
pm2.5_aqi_value         0
pm2.5_aqi_category      0
dtype: int64

In [17]:
df = df.dropna()    #drop null value

In [ ]:
print(df.isna().sum()) #check again number null of each columns

country_name          0
city_name             0
aqi_value             0
aqi_category          0
co_aqi_value          0
co_aqi_category       0
ozone_aqi_value       0
ozone_aqi_category    0
no2_aqi_value         0
no2_aqi_category      0
pm2.5_aqi_value       0
pm2.5_aqi_category    0
dtype: int64

In [ ]:
cols = ['aqi_value', 'co_aqi_value', 'no2_aqi_value', 'ozone_aqi_value', 'pm2.5_aqi_value']
df = df[(df[cols] >= 0).all(axis=1)]  
    #check value must be larger 0 (value > 0)
initial_rows = len(df)
df_cvalid = df[(df[cols] >= 0).all(axis=1)]
final_rows = len(df_cvalid)
    # Print valid and invalid rows based on the condition above
print("Invalid rows:", initial_rows - final_rows)
print("Valid rows:", final_rows)

Invalid rows: 0
Valid rows: 23035

In [23]:
# Count the number of unique cities
city_counts = df['city_name'].value_counts()

duplicates = city_counts[city_counts > 1]
print(duplicates)

Series([], Name: count, dtype: int64)

## Data Export & Storage  

After cleaning and preprocessing the dataset, the final version was exported into two storage formats:

**üìä Excel File** 
   - The cleaned dataset was saved as an Excel file for quick inspection and sharing.

In [ ]:
df.to_excel("clean_air_quality.xlsx", index=False)

**üêò PostgreSQL Database**
   - The dataset was also exported into a PostgreSQL database (`airquality_db`).  
   - This allows further analysis using SQL and easy integration with visualization tools such as Power BI or Tableau.  
   - Database credentials should be managed securely (e.g., environment variables) instead of being hardcoded in the script.

In [ ]:
from sqlalchemy import create_engine # type: ignore

engine = create_engine("postgresql+psycopg2://postgres:potyla643125@localhost:5432/airquality_db")

df.to_sql("air_quality", engine, if_exists="replace", index=False)